node_modules
dist
.dependlock
*.log
*.tsbuildinfo
.idea
.swc/
.DS_Store
.vscode
docs/
coverage/*
/storybook-static/
**/.docz/**
workbox.code-workspace
app/src/bundle-web/*
app/src/bundle-admincp/*
app/src/bundle-call/
app/src/bundle-installation/*
/app/dist
proxy.json
packages/company
docker-compose.yml
dockers/yarn.lock
dockers/package.json
input/
scripts/pages.map.json
exports/
/builds/
